body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

nav{
    height: 10%;
    background-color: #007826;
    width: 95%;
    margin: auto;
    margin-top: 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 95%;
    height: 85%;
    margin: auto;
    border-radius: 20px;
    border: 1px solid #007826;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-details{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

.post-details-image{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0;
    width: 100%;
    height: 250px;
    background-image: url("https://picsum.photos/1000/1200");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.post-details h1{
    margin: auto;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 0;
    color: #007826;
}

.post-details p{
    margin: auto;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 0;
}

.post-details a{
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
    height: fit-content;
    padding-block: 10px;
    font-size: 1.4rem;
    background-color: #009830;
    color: white;
    text-decoration: none;
    border-radius: 60px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-details a:hover{
    background-color: black;
}

.post-details i{
    margin-right: 10px;
}

.bar{
    position: relative;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: #00782648;
    margin: auto;
    margin-bottom: 10px;
}

#target{
    position: absolute;
    height: fit-content;
    width: fit-content;
    color: #009830;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: -50;
    transform: translate(-50%, -50%);
    transition: 0.2s;
}

#category{
    padding: 10px;
    background-color: #007826;
    color: white;
    border-radius: 30px;
}

.bar-overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 10px;
    border-radius: 10px;
    background-color: #007826;
    margin: auto;
    transition: 0.2s;
}











.post-container{
    position: relative;
    width: 35%;
    height: 100%;
    margin: auto;
    margin-left: 0;
    background-color: rgb(189, 223, 198);
    overflow-y: scroll;
    overflow-x: visible;
    padding: 10px;
}

.post-card{
    width: 90%;
    height: fit-content;
    background-color: white;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}

.post-card h3{
    color: #007826;
}

.post-image{
    width: 100%;
    height: 180px;
    /* background-image: url("https://picsum.photos/200/300"); */
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    /* background: linear-gradient(45deg, #3b6749, #6d9379); */
}

.post-bar{
    position: relative;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #00782648;
    margin: auto;
}

.post-bar-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 5px;
    border-radius: 10px;
    background-color: #007826;
    margin: auto;
}